<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="entity.Hospital">
    <select id="getHospitalsWithMaleDoctorCount" resultMap="HospitalWithMaleDoctorCountResultMap">
        SELECT hospital.hopId, hospital.hopName, COUNT(CASE WHEN doctor.docSex = '男' THEN 1 ELSE NULL END) AS maleDoctorCount
        FROM hospital
        INNER JOIN doctor ON doctor.hopId = hospital.hopId
        GROUP BY hospital.hopId, hospital.hopName
    </select>

    <resultMap id="HospitalWithMaleDoctorCountResultMap" type="Hospital">
        <id column="hopId" property="hopId"/>
        <result column="hopName" property="hopName"/>
        <!--单独设置数量的字段-->
        <result column="maleDoctorCount" property="maleDoctorCount"/>
    </resultMap>







</mapper>
