<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="mapper.BookMapper">
    <select id="getBookByIds" parameterType="List" resultType="Book">
        select * from book where bookId in
        <foreach collection="list" open="(" close=")" separator="," item="item" index="i">
            #{item}
        </foreach>
    </select>


    <insert id="batchInsertBooks" parameterType="List">
        Insert into book (bookName, bookPrice, bookTitle, bookDesc)
        values
        <foreach collection="list" separator="," item="item" index="i">
            (#{item.bookName}, #{item.bookPrice}, #{item.bookTitle}, #{item.bookDesc})
        </foreach>
    </insert>

    <delete id="batchDelBooks" parameterType="List">
        delete from book where bookId in
        <foreach collection="list" open="(" close=")" separator="," item="item" index="i">
            #{item}
        </foreach>

    </delete>

</mapper>
