<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cn.kgc.cn.kgc.entity.Project">


    <!-- 定义结果映射 -->
    <resultMap id="projAndEmp" type="Project">

        <id column="projId" property="projId"/>
        <result column="projName" property="projName"/>

        <collection property="ListEmp" ofType="Emp">
            <id column="empId" property="empId"/>
            <result column="empName" property="empName"/>
        </collection>

    </resultMap>

    <!-- 定义查询语句，返回类型为Emp实体对象的List集合 -->
    <select id="getEmpByProjId" resultMap="projAndEmp" parameterType="Integer">

        SELECT e.*,p.*
        FROM emp e
        INNER JOIN empAndProj ep ON e.empId = ep.empId
        INNER JOIN project p ON p.projId = ep.projectId
        WHERE p.projId=#{projId}
    </select>






</mapper>
